.game {
    margin: 5%;
}

.game h2 {
    margin: 2em 0 1em;
    font-size: 3em;
}

.game p {
    font-size: 1.5rem;
}

.fighterCardContainer {
    position: relative;
}

.fighters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    padding: 3em 10%;
    text-align: center;
}

.fighters img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
}


.fighterCard {
    background-color: var(--dark-color);
    height: 30em; 
    border-radius: 1rem; 
}

.fighterCard:hover {
    transform: scale(1.1);
}

.fighterCard h3 {
    font-size: 1.5rem;
}



.fighterCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.9; 
    min-width: 100%;
    min-height: 100%;
    list-style: none;
    font-size: 1.5rem;
    padding-top: 3rem;
}

.fighterCardOverlay li {
    margin-bottom: 0.5rem;
}


.gameButton {
    background-color: var(--light-color);
    border-style: none;
    border-radius: 1.5rem;
    color: var(--main-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.gameButton:hover {
    transform: scale(1.1);
}
