.home {
    margin: 6rem;
}

.home h2 {
    font-size: 3rem;
}

.home h3 {
    font-size: 2.5rem;
}

.home p {
    font-size: 1.5rem;
}

.about {
    padding-bottom: 4rem;
    border-bottom-style: solid ;
}

.cutest {
    padding-top: 5rem;
}
