.app {
    padding: 0 2em;
    background-color: black;
    color: coral;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {    
    font-family: 'Cuprum', sans-serif;
    font-size: 5rem;
    margin-top: 0;
    padding-top: 3rem;
}

h2, h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}